{% extends 'period/period_base.html.twig' %}

{% block title %}Edytuj okres rozliczeniowy
{% endblock %}
{% block page_title %}
	Edytuj okres rozliczneiowy -
	<span class="text-info">
		#{{period.id}}
		"{{period.name}}"
	</span>
{% endblock %}

{% block content %}
	{{ include('period/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
