{% extends 'period/period_base.html.twig' %}

{% block title %}Edytuj okres rozliczeniowy{% endblock %}

{% block content %}
    {{ include('period/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('period_index') }}">back to list</a>

    {{ include('period/_delete_form.html.twig') }}
{% endblock %}
