{% extends 'period/period_base.html.twig' %}

{% block title %}Nowy okres rozliczeniowy{% endblock %}

{% block content %}
    {{ include('period/_form.html.twig') }}

    <a href="{{ path('period_index') }}">Lista okresów rozliczeniowych</a>
{% endblock %}
