{% set confirm_message = "Czy na pewno chcesz usunąć ten rekord?" %}
<form class="action-item-form" method="post" action="{{path}}" onsubmit="return confirm('{{confirm_message}}');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{token}}">
	<button data-toggle="tooltip" data-placement="bottom" class="btn btn-danger btn-sm" title="Usuń">
		Usuń
		<i class="ml-2 mdi mdi-calendar-remove"></i>
	</bottom>
</form>
