.action-icon {
	color: $text-muted;
	font-size: 1.4rem;
	margin-right: 8px;

	&.action-show-icon {
		color: theme-color(info);
	}
	&.action-edit-icon {
		color: theme-color(warning);
	}
	&.action-delete-icon {
		color: theme-color(danger);
	}
	&:hover {
		color: theme-color(primary);
		text-decoration: none !important;
	}
}
form.action-item-form {
	display: inline;
	button {
		display: inline;
		padding: 0px;
		border: 0;
		background: transparent;
		i {
			font-size: inherit;
		}
	}
}
